<div class="card">
    <div class="card-body">

        <!--- Dados Usuario -->
        <h2 class="text-center">Users</h2>
        <hr>
        <form  action="/admin/edit" method="post" data-toggle="validator" id="formEdit_Client">
            <input type="hidden" name="collection" id="collection" value="users">
            <div class="d-flex" style="padding: 0px;">

                <div style="width: 50%;border-right: 1px solid black">

                    <div>
                        <label for="name">
                            Name:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='text' id="name" name="name" readonly='true'
                                value="{{client.name}}">
                        </div>

                    </div>
                    <div>
                        <label for="phone">
                            Phone:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='text' id="phone" name="phone" readonly='true'
                                value="{{client.phone}}">
                        </div>

                    </div>
                    <div>
                        <label for="email">
                            Email:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type="email" id="email" name="email" readonly='true'
                                value={{client.email}}>
                        </div>

                    </div>
                </div>
                <div style="width: 50%;border-left: 1px solid black;padding-left: 30px">

                    <div>
                        <label for="revenue">
                            Revenue:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type="number" id="revenue" name="revenue"
                                readonly='true' value={{client.revenue}}>
                        </div>

                    </div>

                    <div>

                        <label for="isActive">
                            is Active:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='text' id="isActive" name="isActive"
                                readonly='true' value={{client.isActive}}>
                        </div>

                    </div>
                    <div>

                        <label for="agreedTerms">
                            Agreed Terms:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type="text" id="agreedTerms" name="agreedTerms"
                                readonly='true' value={{client.agreedTerms}}>
                        </div>
                    </div>
                </div>


            </div>
            <div style="text-align: right;padding: 20px">    

                <input type="button" class="btn btn-warning btn-xs" id="formEdit_Client" value="Editar"
                    onclick='editInfo(this)'>
                <a href='#' id="{{client.name}}" class="btn btn-danger btn-xs" onclick="deletarClient(this)">Delete</a>
            </div>

        </form>
    </div>
</div>
<br>

<div class="card">
    <div class="card-body">
        <!--- Dados Oportunidadoes do usuario -->
        <h2 class="text-center">Opportunities </h2>
        <div style="text-align: center;padding: 20px">
            <button onclick="newForm()" class="btn btn-primary btn-lg btn-block">
                add new
            </button>
        </div>
        <!-- Formulario de Adcionar Opportunities -->
        <form action="/admin/newOpt" method="post" id="formNew" data-toggle="validator" style="display: none;">
            <input type="hidden" name="collection" id="collection" value="opportunities">
            <div class="d-flex" style="padding: 20px;">
                <div style="width: 50%;border-right: 1px solid black">
                    <input type="hidden" value="{{client.email}}" name="email">
                    <div>
                        <label for="Name">
                            name:
                        </label>
                        <div>
                            <input type='text' name="name">
                        </div>
                    </div>
                    <div>
                        <label for="limit">
                            Limit:
                        </label>
                        <div>
                            <input type='number' name="limit">
                        </div>
                    </div>
                    <div>
                        <label for="interest">
                            Interest:
                        </label>
                        <div>
                            <input type="text" type='txt' name="interest">
                        </div>
                    </div>

                </div>
                <div style="width: 50%;border-left: 1px solid black;padding-left: 40px">
                    <div>
                        <label for="term">
                            Term:
                        </label>
                        <div>
                            <input type='number' name="term">
                        </div>
                    </div>
                    <div>
                        <label for="isActive">
                            is Active: <input type="checkbox" name="isActive">
                        </label>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center;padding: 20px">
                <button type="submit" class="btn btn-success btn-xs">Submit</button>
            </div>


        </form>


        {{#each opt}}
        <hr>
        <form action="/admin/edit" method="post" id="formEdit_{{this.name}}" data-toggle="validator">
            <input type="hidden" name="collection" value="opportunities">
            <input type="hidden" name="email" id="keyEmail" value="{{this.key}}">
            <input type="hidden" name="name" id="{{this.name}}" value="{{this.name}}">
            <h3 class="text-center">{{this.name}}</h3>
            <div class="d-flex" style="padding: 20px;">
                <div style="width: 50%;border-right: 1px solid black">
                    <div>
                        <label for="limit">
                            Limit:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='number' name="limit" readonly='true'
                                value={{this.limit}}>
                        </div>
                    </div>
                    <div>
                        <label for="interest">
                            Interest:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='text' name="interest" readonly='true'
                                value={{this.interest}}>
                        </div>
                    </div>

                </div>
                <div style="width: 50%;border-left: 1px solid black;padding-left: 40px">
                    <div>
                        <label for="term">
                            Term:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='number' name="term" readonly='true'
                                value={{this.term}}>
                        </div>
                    </div>
                    <div>
                        <label for="isActive">
                            is Active:
                        </label>
                        <div>
                            <input class="form-control-plaintext" type='txt' name="isActive" readonly='true'
                                value={{this.isActive}}>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: right;padding: 20px">
                <input type="button" class="btn btn-warning btn-xs" id="formEdit_{{this.name}}" value="Editar"
                    onclick="editInfo(this)">


                <a href='#' id="{{this.name}}" class="btn btn-danger btn-xs" onclick="deletarOpt(this)">Delete</a>


            </div>

        </form>
        {{/each}}

    </div>
</div>